

.bottom_menu_list{  
    position: absolute;
    bottom:0px;
    height:100px;
    width: 100%;
    border-top: solid 1px rgb(197, 196, 196);
    background-color: rgb(255, 255, 255);
    z-index: 1;  
    padding:0;
    width: 100%;
    list-style: none;   
    
    margin:0;
    z-index: 10;
}

.bottom_menu_list > li{    
    display: inline-block;
    width:25%;
    height: 100%;
    padding-top:20px; 
    text-align: center;    
    z-index: inherit;
}


/* .bottom_menu_list>li:hover{
    background-color: rgb(25, 42, 95);
} */

.bottom_menu_list_active_item {
    background-color: rgb(25, 42, 95);
    color: white;
}
.bottom_menu_list_active_item h2{
    color:black;
}

.menu_list_item_image{    
    width: 40px;
    height: 40px;
    border: 2px solid #424242;
    border-radius: 50%;
    background-color: white;
    margin: auto; 
    z-index: inherit;
}

.menu_list_item_description{
    font-size: 0.7em;
}

.bottom_menu_list_item>div {
    background-color: rgb(175, 169, 169);
}

.bottom_menu_list>li h2 {
    position: relative;
    margin:0;
    padding:2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.bottom_menu_list_item_submenu{
    position: absolute;
    bottom: -150px;
    background-color: rgb(160, 163, 173);
    width: 100%;
    border-radius: 2%;
    z-index: 1;
    margin: auto;
    padding:0;
    padding-bottom: 20px;     
    transition: bottom 0.7s;
    z-index: 6;
}

.bottom_menu_list_item_submenu_visible{
    bottom: 100px;
}

.bottom_menu_list_item_submenu>li{
    display: inline-block;
    width:25%;
    height: 100%;
    padding-top:20px; 
    text-align: center;
   
}

.bottom_menu_list_item_submenu>li h2 {
    position: relative;
    margin:0;
    padding:2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

/* .bottom_menu_list_item_submenu>li:hover{
    background-color: white;
} */
