html,body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
    position: fixed;
    overflow: hidden;
    width:100%;
    height:100%;
    touch-action: manipulation;
}

.backdrop_visible{
    /* display:block !important; */
    top:0 !important;
    background-color: rgba(37, 37, 37, 0.76) !important;
}

#main_backdrop{
    /* display: none; */
    position:absolute;
    left: 0;
    top: -120%;
    height: 100%;
    width:100%;
    
    background-color: rgba(255, 255, 255, 0);
    transition: all 300ms ease;
    z-index: 1000;
}

.backdrop_removed{
    display:none;
}

.backdrop_inserted{
    display:block;
}



.app_container{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
    z-index: -100;
}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

@media(min-width: 40rem){

}

#top_menu{
    position:relative;
    width:100%;
    height: 50px;
    background-color: rgb(78, 78, 78);
    z-index:22;
    padding: 7px;
}

#top_menu_project_name{
    display:inline-block;
    color: white;
    padding: 5px;    
    vertical-align: middle;
    text-overflow: ellipsis;
    max-width: 70%;
    overflow: hidden;
    white-space:nowrap;
}


#top_menu_edit_project{
    position: relative;
    color:white;
    display: inline-block;
    padding:5px;
    vertical-align: middle;
    font-weight: 0;
}

#hamburger_menu_button{
    /* position: relative;
    width: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle; */
    position:absolute;
    right: 10px;
    padding: 5px;
}

.hamburger_menu_button:focus{
    outline: none;
}

.hamburger_menu_bars{
    width: 100%;
    height: 0.1rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.6rem 0;
}

.default_user_image{
    background-color: white;
    border-radius: 50%;
    width:50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
}


/* design plan menu ************************************************/
#design_plan_top_bar{
    position: absolute;
    top:50px;
    width: 100%;
    height: 30px;
    display: block;
    background-color: rgba(88, 88, 88, 0.781);
    z-index:21;
    padding: 5px 0;
    transition: top 400ms;
}

/* design plan menu title */
#top_design_plan_name{
    margin-left: 5px;
    color: white;
    padding-left: 5px;
}




#design_plan_new,
#design_plan_edit,
#design_plan_reset{
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 15px;
    /* vertical-align: middle; */
    /* padding:5px; */
}

/* add design plan button */
#design_plan_new{
    line-height: 65%;
    font-size: 30px;
    right: 10px;
}

#design_plan_reset{
    right: 40px
}


#design_plan_navigator_floating{
    position: absolute;
    padding: 1px;
    right:15px;
    top: 100px;
    background-color: rgba(88, 88, 88, 0.781);
    z-index: 21;
    text-align: center;
    /* vertical-align: middle; */
    transition: top 300ms;
}

.design_plan_menus_hide{
    top: -50px !important;
}

#design_plan_previous,
#design_plan_count,
#design_plan_next{
    display:inline-block;
    vertical-align: middle;
    color: rgb(167, 167, 167);

}

#design_plan_previous,
#design_plan_next{
    line-height: 80%;
}


#design_plan_count{
    font-size: large;
    padding: 3px 0;
    color: white;
    
   
}





.design_plan_container{
    display: none;
    position: absolute;
    left: -100%;
    height:calc(100% - 100px);
    width:100%;
    /* overflow: auto;  */
    touch-action: none;
    /* box-shadow: 5px 5px rgb(238, 36, 36); */
    /* overflow: hidden; */
    z-index: 2;
    transition: left 300ms;
}

.design_plan_visible{
    display:block;
    z-index: 3;
    left: 0;
}

.map_image_plane{
  position: absolute;
  height:100%;
  touch-action: none;
  z-index: 1;
}

.map_image{
    height:100%; 
    z-index: inherit;   
}

.app_message{
    position: fixed;
    top: -70px;
    left:0px;
    width: 100%;
    display: block;
    color: white;
    z-index:20;
    background-color: rgb(0, 0, 0);
    padding:7px;
    transition: top 300ms;
}

.app_message_type_error{
    background-color: red;
}

.app_message_show{
    top: 0;
}

#app__message_close_button{
    position: absolute;
    font-size: 3rem;
    line-height: 100%;
    right: 0px;
    top:-4px;
    color: white;
    padding: 0 10px;
    margin-left: 0;
    margin: 0;
    z-index: 20;
    vertical-align: middle;
}


.test_point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}



.card.horizontal{
    position: absolute;
    top: 20px;
    overflow-y: scroll;
    max-height: 200px;
}

.card-image{
    top: 30px;
    max-height: 100px;
    overflow-y: scroll;
}

.card.horizontal .card-image{
    max-width: 40% !important;
}

.card-content{
    overflow-y: scroll;
}