html,body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
    position: fixed;
    overflow: hidden;
    width:100%;
    height:100%;
}

@media(min-width: 40rem){

}

.design_plan_container{
    position: absolute;
    height:calc(100% - 100px);
    width:100%;
    overflow: hidden; 
    touch-action: none;
}

.map_image_plane{
  height:100%;
  touch-action: none;
}

.map_image{
    height:100%;    
}

.app_message{
    position: fixed;
    top: 1em;
    right:10px;
    display: block;
    color: black;
    z-index:100;
    background-color: rgba(255, 255, 255, 0.76);
    padding:2px;
}




.test_point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}