html,body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
    position: fixed;
    overflow: hidden;
    width:100%;
    height:100%;
}

.app_container{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
    z-index: -100;
}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

@media(min-width: 40rem){

}

#top_menu{
    position:relative;
    width:100%;
    height: 50px;
    background-color: rgba(78, 78, 78, 0.876);
    z-index:22;
    padding: 7px;
}

#top_menu_project_name{
    display:inline-block;
    color: white;
    padding: 7px;    
    vertical-align: middle;
}


#top_menu_edit_project{
    position: relative;
    color:white;
    display: inline-block;
    padding:5px;
    vertical-align: middle;
    font-weight: 0;
}

#hamburger_menu_button{
    /* position: relative;
    width: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle; */
    position:absolute;
    right: 10px;
    padding: 5px;
}

.hamburger_menu_button:focus{
    outline: none;
}

.hamburger_menu_bars{
    width: 100%;
    height: 0.1rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.6rem 0;
}


.default_user_image{
    background-color: white;
    border-radius: 50%;
    width:50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.design_plan_container{
    position: absolute;
    height:calc(100% - 100px);
    width:100%;
    /* overflow: auto;  */
    touch-action: none;
    box-shadow: 5px 5px rgb(238, 36, 36);
}

.map_image_plane{
  position: absolute;
  height:100%;
  touch-action: none;
  z-index: 1;
}

.map_image{
    height:100%; 
    z-index: inherit;   
}

.app_message{
    position: fixed;
    top: 0;
    left:0px;
    width: 100%;
    display: block;
    color: white;
    z-index:20;
    background-color: rgba(0, 0, 0, 0.76);
    padding:7px;
}




.test_point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}