html,body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
    position: fixed;
    overflow: hidden;
    width:100%;
    height:100%;
}

.app_container{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
    z-index: -100;
}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

@media(min-width: 40rem){

}

.design_plan_container{
    position: absolute;
    height:calc(100% - 100px);
    width:100%;
    /* overflow: auto;  */
    touch-action: none;
    box-shadow: 5px 5px rgb(238, 36, 36);
}

.map_image_plane{
  position: absolute;
  height:100%;
  touch-action: none;
  z-index: 1;
}

.map_image{
    height:100%; 
    z-index: inherit;   
}

.app_message{
    position: fixed;
    top: 0;
    left:0px;
    width: 100%;
    display: block;
    color: white;
    z-index:20;
    background-color: rgba(0, 0, 0, 0.76);
    padding:7px;
}




.test_point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}