.map_object_container{
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 5;
    
}
.map_object_icon {
    position: absolute;
}

.map_object_icon_default{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 4;
    transform-origin: center;
}

.map_object_icon_default>h2{
    position: relative;
    margin:0;
    padding:2px 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

.map_object_name{
    display: inline-block;
    margin: 2px;
    font-size: small;
    color: black;
    width: 60px;
    background-color: rgba(255, 250, 250, 0.555);
}

.map_object_selection_frame{
    position: absolute;
    display: inline-block;    
    border-radius: 50%;
    border: 1px dashed rgb(255, 116, 2);
    /* background-color: yellow; */
    z-index: 3;
    left: 0;
    top: 0;
    /* transform-origin: center; */
}

.map_object_rotation_node{
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(61, 61, 61);
    left: -10px;
    top: -10px;
    z-index: 4;
}

/* popup menu */

.mapObject_popup_menu{
    position: absolute;
    width: 250px;
    height: auto;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
    box-shadow:  5px 5px 10px gray;
    z-index:10;
}

.mapObject_popup_menu>ul{
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 100%;
    /* text-align: center; */
    height: 100%;
    margin:auto;
    padding:6px 5px;
    
}

.mapObject_popup_menu>ul li{
    position: relative;
    display: inline-block;
    /* bottom:50%; */
    padding: 6px;
    vertical-align: middle;
    font-size: small;
}

.mapObject_popup_menu>ul li:active{
    transform: scale(1.2);
    transition: all 0.2s;
}
 
.map_object_details_dialog{
    position: absolute;
    z-index: 25;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 10px rgb(99, 98, 98);
    /* color: black; */
    /* overflow: auto; */
    /* font-size: 0.5em; */
} 

/* close button */
.map_object_details_dialog>span{
    position: absolute;
    font-size: x-large;
    right: 0px;
    top:-4px;
    color: white;
    padding: 0 5px;
    margin-left: 0;
}

.map_object_details_dialog>span:hover{
    background-color: rgb(158, 6, 6);
}

/* fields container */
.map_object_details_dialog>div:first-of-type{
    margin:0px;
    overflow: scroll;
    height: 92%;
    width:100%;
    /* color:black; */
}

.map_object_details_dialog label{
    left:0;
}


.map_object_details_dialog h3{
    background-color: gray;
    color: white;
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: large;
}

/* .map_object_details_dialog label{
    font-weight: normal;
    font-size:1.5em;
} */

/* .map_object_details_dialog p{
    font-weight: normal;
    font-size: large;
    margin:3px;
    margin-bottom: 0.5em;
} */

/* .map_object_details_dialog select,
.map_object_details_dialog input,
.map_object_details_dialog textarea,
.map_object_details_dialog>div div {
    display: block;
    font-weight: normal;
    font-size: large;
    margin:3px;
    margin-bottom: 1em;
    width:90%;
} */

/* .map_object_details_dialog>div div{
    background-color: white;
    border: 0.5px solid rgb(182, 182, 182);
    padding:0;
    font-size: small;
    min-height: 3em;
    max-height: 6em;
    overflow: scroll;
} */


