.map_object_container{
    display: inline-block;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 5;      
}

.map_object_icon>img {
    position: relative;
    left:25px;
    top: 25px;
    width: 50px;
    height: 50px;
}

.map_object_icon_default{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 4;
    transform-origin: center;
}

.map_object_icon_default>h2{
    position: relative;
    margin:0;
    padding:2px 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

.map_object_name{
    position: absolute;
    top:80%;
    left:0;
    display: inline-block;
    margin: 2px;
    font-size: small;
    color: black;
    /* max-width: 60px; */
    background-color: rgba(255, 250, 250, 0.397);
    z-index:25;
}
/* 
.map_object_selection_frame{
    position: absolute;
    display: inline-block;    
    border-radius: 50%;
    border: 1px dashed rgb(255, 116, 2);
    background-color: yellow;
    z-index: 3;
    left: 0;
    top: 0;
    transform-origin: center;
} */



.map_object_selection_frame{
    position: absolute;
    left: -29px;
    top: -29px;
    height: 112px;
    width:110px;
    border-radius: 50%;
    border: 1px dashed gray;
    background-color: rgba(76, 0, 130, 0.061);
    
}

.map_object_rotation_node_container{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: rgb(255, 7, 7); */
    left: 0px;
    top: 0px;
    z-index: 26
}

.map_object_rotation_node{
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(61, 61, 61);
    left: -27px;
    top: -27px;
    z-index: 26;
}

/* rotation node selection frame connector line */
.map_object_rotation_node::after{
    position: absolute;
    content: ' ';
    border-top: 1px dashed rgb(61, 61, 61);
    width: 7px;
    transform: translate(10px, 12px) rotate(45deg);
}

/* popup menu */

.mapObject_popup_menu{
    position: absolute;
    width: 250px;
    height: auto;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
    box-shadow:  5px 5px 10px gray;
    z-index:10;
}

.mapObject_popup_menu>ul{
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 100%;
    /* text-align: center; */
    height: 100%;
    margin:auto;
    padding:6px 5px;
    
}

.mapObject_popup_menu>ul li{
    position: relative;
    display: inline-block;
    /* bottom:50%; */
    padding: 6px;
    vertical-align: middle;
    font-size: small;
}

.mapObject_popup_menu>ul>li>a{
    display: inline-block;
    /* bottom:50%; */
    color: black;
    padding: 0px;
    margin: 0;
   
}

.mapObject_popup_menu>ul li:active{
    transform: scale(1.2);
    transition: all 0.2s;
}
 

