#insertionTool_camera{
    right: auto;
    z-index:5;
    bottom: 120px;
    left: -40px;
    transition: left 600ms;
}

.insertionTool_camera_visible{
    left: 25px !important;
}

#app_tool_main_img{
    position: absolute;
    width: 70px;
    height: auto;
    background-color: rgba(185, 185, 185, 0.048);
    padding: 7px;
    /* border-radius: 50%; */
}

.app_tool_subcontent {
    right: auto;

}

.app_tool_subcontent_image{
    width: 70px;
}

