.message_dialog_backdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.548);
    z-index: 100;
}

.message_dialog{
    position: absolute;
    left: -100%;
    top: 5%;
    width: calc(100% - (5% * 2));
    height: calc(100% - 10%);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px gray;;
    z-index: 101;
    transition: all 200ms;
}

.message_dialog_slide_in{
    left: 5%;
}

.details_dialog{
    position: absolute;
    z-index: 25;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 10px rgb(99, 98, 98);
    /* color: black; */
    /* overflow: auto; */
    /* font-size: 0.5em; */
} 

/* header container */
.details_dialog>div:first-of-type{
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    height: 7rem; 
    width: 100%;
    padding: 12px;
    border-bottom: solid 1px rgb(216, 216, 216);
    
}

.details_dialog h3{
    display: inline-block;
    font-size: 2rem;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    max-width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

h3.smaller_header_font{
    font-size:1.5rem;
}

/* header option icons container */
.details_dialog>div:first-of-type>div{
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 5px;
}

/* header edit icon */
.details_dialog>div i {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;
    right: 0;
    top: 10px;
    /* padding-top: 5px; */
    /* margin-left: 20px; */
    vertical-align: middle;
    display: inline-block;
    margin:0 10px;
    font-weight: initial;
}

/* close button */
.details_dialog>span{
    position: absolute;
    font-size: 3rem;
    right: 0px;
    top:-4px;
    color: black;
    padding: 0 10px;
    margin-left: 0;
    margin: 0;
    z-index: 20;
    vertical-align: middle;
}

.details_dialog>span:hover{
    background-color: rgb(158, 6, 6);
}

/* fields container */
.details_dialog>div:nth-of-type(2){
    position: relative;
    margin:0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 7rem - 60px);
    width:100%;
    z-index: 5;
    /* color:black; */
}

/* bottom menu */
.details_dialog>div:nth-of-type(3){
    position: absolute;
    bottom:0;
    left:0;
    margin:0px;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    height: 70px;
    width:100%;
    z-index: 100;
    /* color:black; */
}

/* take photo button */
.details_dialog>div:nth-of-type(3)>i{
    position: relative;
    left:0;
    right:0;
    display: inline-block;
    /* left:50%; */
    margin: auto;
    background-color: white;
    padding: 4px;
    border-radius: 50%;;
    font-size: 3rem;
    height: 50px;
    width:50px;
    box-shadow: 5px 5px 2px gray;
    /* color:black; */
}

/* camera picture taking */
.details_dialog>input{
    position:  absolute;
    bottom:100px;
    left: 0;
    
}

.details_dialog label{
    left:0;
}



.map_object_photos_dialog{
    position: absolute;
    z-index: 125;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 10px rgb(99, 98, 98);
    /* color: black; */
    /* overflow: auto; */
    /* font-size: 0.5em; */
} 

#mapObject_take_photo_button{
    /* color: transparent; */
    position: absolute;
    left:43%;
    /* right:0; */
    margin: auto;
    bottom: 8px;
}

#mapObject_take_photo_button::-webkit-file-upload-button{
    
    visibility: hidden;
   
}

#mapObject_take_photo_button::before{
    font-family: "Material Icons"; 
    content: "camera_alt";
    display: inline-block;
    color: black;   
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    visibility: visible;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 1px 4px;
    /* -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); */
}

/* .details_dialog label{
    font-weight: normal;
    font-size:1.5em;
} */

/* .details_dialog p{
    font-weight: normal;
    font-size: large;
    margin:3px;
    margin-bottom: 0.5em;
} */

/* .details_dialog select,
.details_dialog input,
.details_dialog textarea,
.details_dialog>div div {
    display: block;
    font-weight: normal;
    font-size: large;
    margin:3px;
    margin-bottom: 1em;
    width:90%;
} */

/* .details_dialog>div div{
    background-color: white;
    border: 0.5px solid rgb(182, 182, 182);
    padding:0;
    font-size: small;
    min-height: 3em;
    max-height: 6em;
    overflow: scroll;
} */



.history_section{
    /* max-height: 200px; */
    /* height: 0; */
}

.history_section>label{
    font-size: 0.9rem;
    color: rgb(0, 96, 175);
}

.history_section>label:hover{
    color: rgb(158, 0, 0);
    text-decoration: underline;
}

/* all status history entries */
.history_section>div:first-of-type{
    max-height: 200px;
    margin-left: 6px;
    margin-top: 7px;
    overflow-y: scroll;
    padding: 15px;
    border-top: solid 1px rgb(124, 124, 124);
    border-bottom: solid 1px rgb(124, 124, 124);
    transition: height 0.5s;
}

/* collapsed */
.history_section>div:first-of-type.collapsed{
    max-height: 0;
    padding: 0;
    border-bottom: none;
}


/* one status history entry */
.history_section>div>div{
    margin-bottom: 20px;
}

/* user + dateTime */
.history_section>div>div>div:first-of-type {
    display: block;
    font-size: 0.9rem;
    width: auto;
    margin-bottom: 5px;
    /* margin:2px; */
}

/* user */
.history_section>div>div>div:first-of-type>span:first-of-type {
    display: inline-block;    
    width: auto;
    margin-right: 25px;
    font-weight: bold;
    /* margin:2px; */
}

/* date */
.history_section>div>div>div:first-of-type>span:nth-of-type(2) {
    margin-left: 90px;
    display: inline-block;    
    width: auto;
    font-size: 0.7rem;    
    vertical-align: bottom;
    /* margin:2px; */
}


/* hr divider */
.history_section>div>div>div:first-of-type>hr {
    left: 0;
    width:100%;
    margin:0;
    /* margin:2px; */
}

/* status and statusNote container */
.history_section>div>div>div:nth-of-type(2){

}

/* status */
.history_section>div>div>div:nth-of-type(2)>span.status {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    width: 100px;
    /* margin-right: 15px; */
}

/* note */
.history_section>div>div>div:nth-of-type(2)>span.note{
    display: block;
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
    /* margin-right: 15px; */
}


.project_people_section>div{
    margin: 5px;
}

/* person.details.ID */
.project_people_section>div>span:first-of-type{
    display: inline-block;
    font-size: 1rem;
    font-weight: bolder;
    width: 40%;
}

/* person.role */
.project_people_section>div>span:nth-of-type(2){
    display: inline-block;
    width: 30%;

}

.project_people_section>div>span:nth-of-type(3){
    display: inline-block;
    

}

#designPlan_addition_dialog__planImageFile{
    margin: 10px;
}

.designPlan_addition_dialog_image{
    position: relative;
    display: block;
    width:100%;
    height: 50%;
}

.designPlan_addition_dialog_image>label{
    position: absolute;
    display: block;
    top: -20px !important;
}

.designPlan_addition_dialog_image>img{
    position: relative;
    width:90%;
    margin:5%;
}

#designPlan_addition_dialog__submitButton{
    position: relative;
    display: block;
    width:70%;
    height: 30px;
    margin:auto;
    /* right: 30px; */
    top: -30px;
}